@use 'base/variables' as v;
@use 'base/mixins' as m;
@use "sass:color";

.seccion {
    display: none;

    .text-center{
        text-align: center;
    }
}

.mostrar {
    display: block;
}

.ocultar {
    display: none;
}

.mostrar-cita{
    .boton{
        @include m.boton(v.$rosado, v.$blanco);
        text-transform: uppercase;
        padding: 1rem;
        border-radius: 1rem;
        margin: 2rem 0;
    }
}

.listado-servicios {
    display: flex;
    flex-direction: column;
}