@use 'base/variables' as v;
@use 'base/mixins' as m;
@use "sass:color";

.contenido-resumen {
    p {
        margin-bottom: 1rem;
    }

    span {
        color: v.$rosado;
        font-weight: v.$bold;
        font-size: 2.4rem;
    }
}
.contenedor-servicio {
    padding: 1.25rem;
    border-bottom: 1px solid v.$gris;
}

.total-servicio {
    font-size: 3rem;
    font-weight: v.$bold;
}

.nota-total {
    font-size: 1.4rem;

    span {
        font-size: 1.4rem;
        font-weight: v.$bold;
    }
}

.recomendacion-servicio {
    font-size: 1.4rem;

    span {
        font-size: 1.4rem;
    }
}