@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.contenedor-app {
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }

    .imagen {
        height: 20rem;
        background-image: url(../img/5.png);
        background-size: cover;
        background-position: center center;
        @include m.tablet {
            height: auto;
        }
    }

    .app {
        width: 95%;
        margin: 0 auto;
        padding: 3rem 0;
        @include m.tablet {
            overflow: scroll;
            scrollbar-width: none;
        }
    }
}

.barra {
    margin: 5rem 0;
    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .boton {
        border-radius: 1rem;
        @include m.boton(v.$rojo, v.$blanco);
        font-size: 1.3rem;
        margin: 0;
        padding: 1rem;
        font-weight: v.$regular;
    }

    .boton-cita {
        border-radius: 1rem;
        @include m.boton(v.$rosado, v.$blanco);
        font-size: 1.3rem;
        margin: .5rem 0;
        padding: 1rem;
        font-weight: v.$bold;
    }
}

.barra-servicios {
    margin-bottom: 5rem;
    @include m.tablet {
        display: flex;
        justify-content: space-between;
    }
    .boton {
        margin: 0 0 .5rem 0;
        background-color: v.$rosado;

        &:hover {
            background-color: color.adjust(v.$rosado, $lightness: -10%);
        }
    }
}

.citas {
    .acciones {
        margin: 0;

        .boton {
            border-radius: 1rem;
            @include m.boton(v.$naranja, v.$blanco);
            font-size: 1.3rem;
            margin: 0;
            padding: 1rem;
            font-weight: v.$regular;
            margin-bottom: .5rem;
        }
        

        .boton-eliminar {
            @include m.boton(v.$rojo, v.$blanco);
            font-size: 1.3rem;
            margin: 0;
            padding: 1rem;
            font-weight: v.$regular;        
        }
    }
}

.buscador-servicios {
    display: flex;
    flex-direction: column;
    input {
        flex: 1;
        border: none;
        padding: 1rem;
        border-radius: 1.5rem;
        margin: 0 1rem;
    }

    
}
